@inject IDbContextFactory<CRMBlazorDbContext> _context
@using CRMBlazor.Data.CRMBlazorDb;
@using Microsoft.EntityFrameworkCore;

<h3>Dodaj rodzaj firmy</h3>
<CompanyTypeForm Submitted="OnSubmit" />


@code {
    public CompanyType Value;

    private EditContext? editContext;


    protected override void OnParametersSet()
    {
        Value = new();
        editContext = new(Value);
    }

    async Task OnSubmit(CompanyType companyType)
    {

        try
        {
            using (var db = await _context.CreateDbContextAsync())
            {
                db.CompanyTypes.Add(companyType);
                await db.SaveChangesAsync();
            }
        }
        catch (Exception x)
        {
            Console.WriteLine(x);
        }
    }

}