@inject IDbContextFactory<CRMBlazorDbContext> _context
@using CRMBlazor.Data.CRMBlazorDb;
@using Microsoft.EntityFrameworkCore;

<h3>Dodaj nową ofertę</h3>
<FlowForm Submitted="OnSubmit" />


@code {
    public Flow Value;

    private EditContext? editContext;


    protected override void OnParametersSet()
    {
        Value = new();
        editContext = new(Value);
    }

    async Task OnSubmit(Flow flow)
    {

        try
        {
            using (var db = await _context.CreateDbContextAsync())
            {
                db.Flows.Add(flow);
                await db.SaveChangesAsync();
            }
        }
        catch (Exception x)
        {
            Console.WriteLine(x);
        }
    }

}