@using CRMBlazor.Data.CRMBlazorDb;

<h4>Adres Zamieszkania</h4>
@Value.City
        <ul>
            <h5>Nazwa miejscowości</h5>
            <RadzenTextBox Value="@Value.City" Change="(_value) => { Value.City = _value; ValueChanged.InvokeAsync(Value);}"></RadzenTextBox>
        </ul>
        <ul>
            <h5>Ulica</h5>
    <RadzenTextBox Value="@Value.Street" Change="(_value) => { Value.Street = _value; ValueChanged.InvokeAsync(Value);}"></RadzenTextBox>
</ul>
        <ul>
            <h5>Kod pocztowy</h5>
    <RadzenTextBox Value="@Value.PostCode" Change="(_value) => { Value.PostCode = _value; ValueChanged.InvokeAsync(Value);}"></RadzenTextBox>
</ul>

@code {
    /// <summary>
    /// Value for form
    /// </summary>
    [Parameter]
    public Address? Value { get; set; }

    /// <summary>
    /// Gets or sets the Value changed.
    /// </summary>
    /// <value>The Value changed.</value>
    [Parameter]
    public EventCallback<Address> ValueChanged { get; set; }


    protected override void OnParametersSet() {
        if(Value == null){
            Value = new();
        }
        base.OnParametersSet();
    }

}