@inject IDbContextFactory<CRMBlazorDbContext> _context
@using CRMBlazor.Data.CRMBlazorDb;
@using Microsoft.EntityFrameworkCore;

@*<h3>Zmień dane @Value.Name</h3>*@
<CompanyForm Value="Value" Submitted="OnSubmit" />


@code {
    [Parameter]
    public Company Value { get; set; }


    async Task OnSubmit(Company company)
    {

        try
        {
            using (var db = await _context.CreateDbContextAsync())
            {
                db.Companies.Update(company);
                await db.SaveChangesAsync();
            }
        }
        catch (Exception x)
        {
            Console.WriteLine(x);
        }
    }

}