@page "/"

<PageTitle>Home</PageTitle>

<div width="100%" height="100%" style="display:flex; justify-content: center; align-items: center;">
    <a href="CRM/Flows"><RadzenButton Text="Kliknij aby rozpocząć" Variant="Variant.Flat" Size="ButtonSize.Medium"></RadzenButton></a>
</div>
