@page "/CRM"
@*@page "/CRM/Index/{Counter:int?}"*@
@layout ChildLayout
@using CRMBlazor.Pages.CRM.Shared


@*<h1>Title @Counter</h1>

<strong class="alert-danger">@list.Count</strong>

@foreach(var item in list)
{
    <h4>@item</h4>
}*@

<a href="CRM/Clients">Klienci</a>
<a href="CRM/Companies">Firmy</a>
<a href="CRM/Products">Produkty</a>



@code {

    //[Parameter]
    //public int Counter { get; set; }

    //private List<string> list;

    //protected override async Task OnParametersSetAsync()
    //{

    //    list = new() { "ab", "cd", "ef" };

        

    //}



}
